<div class="flex justify-center">
  <%if @profile.avatar.attached?%>
    <%= image_tag @profile.avatar, class:"w-32 rounded-full shadow-lg"%>
  <%else%>
    <img src="<%= image_path('default.jpg') %>" alt="default profile picture", class = "w-32 rounded-full shadow-lg">
  <%end%>
</div>
<h1 class = "text-center text-4xl border-b-2 border-slate-200">
  <%if @profile.full_name%>
    <%=@profile.full_name%>'s profile
  <%else%>
    Anonymoys profile
  <%end%>
</h1>
<div><%=link_to "Edit profile", edit_profile_path(@profile), class:"bg-blue-400 w-48 mt-5 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full" if current_user == @profile.user%></div>
<%if FolloweesFollower.exists?(follower_id: current_user.id, followee_id: @profile.user.id)%>
  <%= button_to 'Unfollow', followees_follower_path(follower_id: current_user.id, followee_id: @profile.user.id), method: :delete, class:"rounded-xl bg-slate-600 p-2 text-teal-400 hover:bg-slate-400 hover:text-teal-700" %>
<%end%>
<%if current_user == @profile.user && current_user.pending_requests.pending.any?%>
  <div class ="flex flex-col">
    <p>You have friend requests by:</p>
    <ul class = "grid grid-flow-col auto-rows-max md:auto-rows-min">
      <%current_user.pending_requests.pending.each do |request|%>
        <li class ="border-2 rounded-md flex flex-col p-2 gap-2 size-fit border-gray-600 bg-slate-300 hover:text-teal-700 text-teal-500">
          <p><%=link_to "#{request.requester.profile.full_name}", profile_path(request.requester.profile)%></p>
          <div class = "flex gap-2">
            <div><%= render partial: "shared/accept_form", locals: { request: request } %></div>
            <div><%= render partial: "shared/reject_form", locals: { request: request } %></div>
          </div>
        </li>
      <%end%>
    </ul>
  </div>
<%end%>
<div>
  <%unless current_user.id == @profile.user.id || FollowRequest.exists?(requester_id: current_user.id, approver_id: @profile.user.id) %>
    <%= render partial: "shared/request_form", locals: { follow_request_form: @follow_request } %>
  <%end%>
</div>
<h3 class ="text-2xl">Latest posts</h3>
<div>
  <% @profile.user.posts.each do |post|%>
    <%= render partial: "shared/post", locals: { post: post } %>
  <%end%>
</div>
<%= link_to "Home", root_path, class:"bg-blue-400 w-48 mt-5 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full"%>
