<div style="width:100px;fheight:auto;"><img src="<%= image_path('default.jpg') %>" alt="default profile picture">
</div>
<h1><%if @profile.first_name%>
    <%=@profile.first_name.capitalize%>'s profile
  <%else%>
    Anonymoys profile
  <%end%>
</h1>
<div><%=link_to "Edit profile", edit_profile_path(@profile)%></div>
<%if FolloweesFollower.exists?(follower_id: current_user.id, followee_id: @profile.user.id)%>
  <%= button_to 'Unfollow', followees_follower_path(follower_id: current_user.id, followee_id: @profile.user.id), method: :delete %>
<%end%>
<%if current_user.id == @profile.user.id && current_user.pending_requests.pending%>
  <ul>You have friend requests by: 
    <%current_user.pending_requests.pending.each do |request|%>
      <li>
        <%="#{request.requester.profile.first_name} #{request.requester.profile.last_name}"%>
        <%= render partial: "shared/accept_form", locals: { request: request } %>
        <%= render partial: "shared/reject_form", locals: { request: request } %>
      </li>
    <%end%>
  </ul>
<%end%>
<%unless current_user.id == @profile.user.id || FollowRequest.exists?(requester_id: current_user.id, approver_id: @profile.user.id) %>
  <%= render partial: "shared/request_form", locals: { follow_request_form: @follow_request } %>
<%end%>
<br>
<br>
<h3>Latest posts</h3>
<br>
<br>
<div>
  <% @profile.user.posts.each do |post|%>
    <%= render partial: "shared/post", locals: { post: post } %>
  <%end%>
</div>
<div><%= link_to "Back", root_path%>
</div>
