<div class="flex flex-shrink-0 text-white justify-between p-4 pb-0">
  <%= link_to profile_path(comment.user.profile), class:"flex-shrink-0 group block" do %>
    <div class="flex items-center">
      <div>
        <%if comment.user.profile.avatar.attached?%>
          <%= image_tag comment.user.profile.avatar, class: "inline-block h-10 w-10 rounded-full" %>
        <%else%>
          <img src="<%= image_path('default.jpg') %>" alt="default profile picture", class="inline-block h-10 w-10 rounded-full">
        <%end%>
      </div>
      <div class="ml-3">
        <p class="text-base leading-6 font-medium text-white">
          <%= "#{comment.user.profile.full_name}"%>
        </p>
      </div>
    </div>
  <%end%>
  <p><%= time_ago_in_words(comment.created_at) %> ago:</p>
</div>
<div class="pl-16">
  <p class="width-full font-medium text-white flex-shrink max-w-xs overflow-hidden text-ellipsis whitespace-nowrap">
    <%= "#{comment.body}" %>
  </p>
  <div class="flex items-center">
    <div class="flex  grow items-center gap-1 w-fit">
      <div class="flex items-center gap-1">
        <p><%=comment.likers.count%> like(s)</p>
        <% if LikerLikedComment.exists?(liker_id: current_user.id, liked_comment_id: comment.id) %>
          <%= button_to '-♡', post_comment_liker_liked_comment_path(comment_id: comment.id,post_id: comment.post.id, id: LikerLikedComment.find_by(liker_id: current_user.id, liked_comment_id: comment.id).id), method: :delete, class:"w-12 mt-1 group flex items-center text-slate-200 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300" %>
        <% else %>
          <%= form_with model: LikerLikedComment.new, url: post_comment_liker_liked_comments_path(post_id: comment.post.id, comment_id: comment.id), local: true do |form| %>
            <%= form.submit "♡" , class:"w-12 mt-1 group flex items-center text-slate-200 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300"%>
          <% end %>
        <% end %>
      </div>
      <%if current_user == comment.user%>
        <div class="flex-1 text-center py-2 m-2">
          <%= link_to "edit", edit_post_comment_path(id:comment.id, post_id: comment.post.id), class:"w-12 mt-1 group flex items-center text-slate-200 p-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300"%>
        </div>
        <div class="flex-1 text-center py-2 m-2">
          <%= button_to "del", post_comment_path(id:comment.id, post_id: comment.post.id), method: :delete, class:"w-12 mt-1 text-center group flex items-center text-semibold text-slate-200 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300"%>
        </div>
      <%end%>
    </div>
  </div>
</div>
<hr class="border-slate-400">
