<nav class="justify-center flex-2 w-1/5 px-4 text-white py-4 h-auto bg-sky-800">
  <div class ="sticky top-36">
    <div class=" px-2 py-2 rounded-full hover:bg-sky-700 hover:text-slate-200 text-white text-2xl">
      <%= link_to root_path, class: "flex gap-1 items-center" do %>
        <svg class="mr-4 h-6 w-6 " stroke="currentColor" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6" />
        </svg>
        Home
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%if current_user.profile && current_user.profile.persisted?%>
        <%= link_to profile_url(current_user.profile), class: "text-white text-2xl  flex items-center px-2 py-2 rounded-full hover:bg-sky-700 hover:text-slate-200" do %>
          <%= image_tag("profile.svg", alt: "Profile image", class:"mr-4 h-6 w-6 " )%>
          My profile
        <% end %>
      <%else%>
        <%=link_to new_profile_path, class: "text-white text-2xl  flex items-center px-2 py-2 rounded-full hover:bg-sky-700 hover:text-slate-200" do%>
          <%= image_tag("newprofile.svg", alt: "New profile image", class:"mr-4 h-6 w-6 " )%>
          Create profile
        <% end %>
      <%end%>
      <%= link_to destroy_user_session_path, method: :delete, class: "text-white text-2xl  flex items-center px-2 py-2 rounded-full hover:bg-sky-700 hover:text-slate-200" do%>
        <%= image_tag("logout.svg", alt: "Log out image", class:"mr-4 h-6 w-6 " )%>
        Log out
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "text-white text-2xl  flex items-center px-2 py-2 rounded-full hover:bg-sky-700 hover:text-slate-200" do %>
        <%= image_tag("login.svg", alt: "Log in image", class:"mr-4 h-6 w-6 " )%>
        Sign in
      <% end %>
      <%= link_to new_user_registration_path, class: "text-white text-2xl  flex items-center px-2 py-2 rounded-full hover:bg-sky-700 hover:text-slate-200" do %>
        <%= image_tag("signup.svg", alt: "Sign up image", class:"mr-4 h-6 w-6 " )%>
        Sign up
      <% end %>
    <% end %>
  </div>
</nav>
