<div class="flex flex-shrink-0 text-white justify-between p-4 pb-0">
  <%= link_to profile_path(post.user.profile), class:"flex-shrink-0 group block" do %>
    <div class="flex items-center">
      <div>
        <%if post.user.profile.avatar.attached?%>
          <%= image_tag post.user.profile.avatar, class: "inline-block h-10 w-10 rounded-full" %>
        <%else%>
          <img src="<%= image_path('default.jpg') %>" alt="default profile picture", class="inline-block h-10 w-10 rounded-full">
        <%end%>
      </div>
      <div class="ml-3">
        <p class="text-base leading-6 font-medium text-white">
          <%= "#{post.user.profile.full_name}"%>
        </p>
      </div>
    </div>
  <%end%>
  <p><%= time_ago_in_words(post.created_at) %> ago:</p>
</div>
<div class="pl-16">
  <p class="width-full font-medium text-white flex-shrink max-w-xs overflow-hidden text-ellipsis whitespace-nowrap">
    <%= "#{post.body}" %>
  </p>
  <div class="flex items-center">
    <div class="flex  grow items-center gap-1 w-fit">
      <div class="flex items-center gap-1">
        <p><%=post.likers.count%> like(s)</p>
        <% if LikerLikedPost.exists?(liker_id: current_user.id, liked_post_id: post.id) %>
          <%= button_to '-♡', post_liker_liked_post_path(post_id: post.id, id: LikerLikedPost.find_by(liker_id: current_user.id, liked_post_id: post.id).id), method: :delete, class:"w-12 mt-1 group flex items-center text-gray-500 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300" %>
        <% else %>
          <%= form_with model: [post, LikerLikedPost.new], local: true do |form| %>
            <%= form.submit "♡" , class:"w-12 mt-1 group flex items-center text-gray-500 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300"%>
          <% end %>
        <% end %>
      </div>
      <%if current_user == post.user%>
        <div class="flex-1 text-center py-2 m-2">
          <%= link_to "edit", edit_post_path(post), class:"w-12 mt-1 group flex items-center text-gray-500 p-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300"%>
        </div>
        <div class="flex-1 text-center py-2 m-2">
          <%= button_to "del", post, method: :delete, class:"w-12 mt-1 text-center group flex items-center text-semibold text-gray-500 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300"%>
        </div>
      <%end%>
      <div class="flex-1 text-center">
        <%= link_to post_path(post), class:"w-12 mt-1 group flex items-center text-gray-500 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-sky-700 hover:text-blue-300" do %>
          <svg class="text-center h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
            <path
                        d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
            </path>
          </svg>
        <%end%>
      </div>
    </div>
    <div class="flex items-center">
      <div class="text-center w-fit py-2 m-2">
        <%="#{post.comments.count} Comments"%>
      </div>
    </div>
  </div>
</div>
<hr class="border-slate-400">
