<!DOCTYPE html>
<html>
  <head>
    <title>MyCircle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class= "bg-sky-800 text-gray-400 w-screen">
    <div class="flex min-h-screen">
      <%= render partial: "shared/navbar"%>
      <main class="container flex-1 border-slate-400 border-l-2">
        <div class="flex justify-center w-full">
          <% if notice.present? %>
            <p class= "p-2 mb-4 text-sm text-green-800 rounded-full bg-green-100 w-3/4 text-center"><%= notice %></p>
          <% end %>
          <% if alert.present? %>
            <p class= "p-2 mb-4 text-sm text-red-800 rounded-full bg-red-100 w-3/4 text-center"><%= alert %></p>
          <% end %>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
