<!DOCTYPE html>
<html>
  <head>
    <title>MyCircle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-slate-900 text-teal-400">
    <%= render partial: "shared/navbar"%>
    <div class="container">
      <div class="flex justify-center w-screen">
        <% if notice.present? %>
          <p class= "p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-100 w-3/4 text-center"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class= "p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100 w-3/4 text-center"><%= alert %></p>
        <% end %>
      </div>
      <main class="container mx-auto mt-28 px-10 grid gap-3">
        <%= yield %>
      </main>
    </body>
  </html>
